In [1]:
## Go back to the brief, make sure everything is ticked off
## It's why WHY that's important. Why by expirimentation and/or referencing. 
# Why boxplot, why colours, why titles, etc. etc. in the report (for David, 200-300 words) in the markdown for sam. Sam only read the notebook I think.  
## There's a template for CA3 
 # Intro, main body, conclusion 
# Resources on Student Success 
# See Research papers on David's Moodle page as samples for structure
# Go back to the feedback form CA1

In [2]:
# Fix Github to Public

In [3]:
#  Reading - what impacts the price of wheat 
# https://www.ers.usda.gov/webdocs/publications/47264/51088_tb1878b.pdf?v=0 
## https://www.economicshelp.org/blog/168151/economics/factors-determining-the-price-of-wheat/#:~:text=The%20price%20of%20wheat%20is,climate%20factors%20affecting%20the%20supply.

In [51]:

import pandas as pd
import matplotlib as mpl
import numpy as np

In [5]:
# Import all economic datasets


df1 = pd.read_csv("DATA/DP_LIVE_06012023190448991.csv")
df2 = pd.read_csv("DATA/DP_LIVE_06012023190508679.csv")
df3 = pd.read_csv("DATA/DP_LIVE_06012023190521038.csv")
df4 = pd.read_csv("DATA/DP_LIVE_06012023190621335.csv")
df5 = pd.read_csv("DATA/DP_LIVE_06012023190631007.csv")
df6 = pd.read_csv("DATA/DP_LIVE_06012023190759570.csv")
df7 = pd.read_csv("DATA/DP_LIVE_06012023190909741.csv")
df8 = pd.read_csv("DATA/DP_LIVE_06012023191011288.csv")
df9 = pd.read_csv("DATA/DP_LIVE_06012023191646976.csv")
df10 = pd.read_csv("DATA/DP_LIVE_06012023192018179.csv")
df11 = pd.read_csv("DATA/DP_LIVE_06012023192105335.csv")
df12 = pd.read_csv("DATA/DP_LIVE_06012023214944235.csv")
df13 = pd.read_csv("DATA/DP_LIVE_06012023215221798.csv")
df14 = pd.read_csv("DATA/PPP-EU.csv")

In [6]:
# Monthly = df1 (CCI), df2 (CLI) , df3 (CLI)

In [7]:
# Quarterly = df11 (HHI)

In [8]:
# Annually = df4 (GDP), df5 (GDP), df6 (GFCFSector), df7 (cropyield), df8, (aggsupp), df9 (exch), df10 (GNI), df11, (grossAJD), df 12 (YRLIFELOST), df13 (oilprod), df14 (ppp)

In [182]:
df5.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value Flag Codes
0      AUT       GDP     TOT  USD_CAP         A  2000  29380.031110        NaN
1      AUT       GDP     TOT  USD_CAP         A  2001  29707.462264        NaN
2      AUT       GDP     TOT  USD_CAP         A  2002  31178.051444        NaN
3      AUT       GDP     TOT  USD_CAP         A  2003  32158.225907        NaN
4      AUT       GDP     TOT  USD_CAP         A  2004  33784.432645        NaN

In [181]:
df_gdp = df5

In [183]:
print(df5['LOCATION'].unique())

['AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'IRL' 'ITA'
 'JPN' 'LUX' 'NLD' 'POL' 'PRT' 'SVK' 'ESP' 'SWE' 'GBR' 'USA' 'EST' 'SVN'
 'OECD' 'LVA' 'LTU' 'BGR' 'HRV' 'CYP' 'MLT' 'ROU']

In [184]:
df_gdp_ire = df5[df5['LOCATION'] == "IRL"] 
df_gdp_ire.head(500)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
220,IRL,GDP,TOT,USD_CAP,A,2000,30217.135247,NaN
221,IRL,GDP,TOT,USD_CAP,A,2001,32592.934780,NaN
222,IRL,GDP,TOT,USD_CAP,A,2002,35222.881959,NaN
223,IRL,GDP,TOT,USD_CAP,A,2003,36280.363177,NaN
224,IRL,GDP,TOT,USD_CAP,A,2004,38761.602107,NaN
225,IRL,GDP,TOT,USD_CAP,A,2005,40465.540236,NaN
226,IRL,GDP,TOT,USD_CAP,A,2006,44264.939920,NaN
227,IRL,GDP,TOT,USD_CAP,A,2007,46765.460776,NaN
228,IRL,GDP,TOT,USD_CAP,A,2008,44105.305617,NaN
229,IRL,GDP,TOT,USD_CAP,A,2009,41438.863041,NaN
230,IRL,GDP,TOT,USD_CAP,A,2010,43213.491477,NaN
231,IRL,GDP,TOT,USD_CAP,A,2011,45100.566928,NaN
232,IRL,GDP,TOT,USD_CAP,A,2012,46409.682400,NaN
233,IRL,GDP,TOT,USD_CAP,A,2013,47882.067704,NaN
234,IRL,GDP,TOT,USD_CAP,A,2014,51195.991955,NaN
235,IRL,GDP,TOT,USD_CAP,A,2015,69165.900652,NaN
236,IRL,GDP,TOT,USD_CAP,A,2016,71633.128805,NaN
237,IRL,GDP,TOT,USD_CAP,A,2017,78051.654251,NaN
238,IRL,GDP,TOT,USD_CAP,A,2018,84824.352993,NaN
239,IRL,GDP,TOT,USD_CAP,A,2019,89846.272208,NaN
240,IRL,GDP,TOT,USD_CAP,A,2020,94028.901163,NaN
241,IRL,GDP,TOT,USD_CAP,A,2021,106852.122229,NaN

In [185]:
print(df5['MEASURE'].unique())

['USD_CAP']

In [10]:
# Combine to make master economic set. As all in the same format, we can stack the DataFrames on top of each other
df_econ = pd.concat([df4, df5, df6, df7, df8, df9, df10, df12, df13], axis=0)

In [11]:
df_econ.describe()

               TIME         Value
count  33379.000000  3.337900e+04
mean    2008.754247  1.401094e+04
std       10.735205  6.024846e+04
min     1986.000000 -2.635270e+05
25%     2000.000000  2.034000e+00
50%     2009.000000  7.361200e+01
75%     2017.000000  4.776456e+03
max     2030.000000  1.312195e+06

In [12]:
df_econ.head(50)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,GDP,TOT,USD_CAP,A,2018,56956.110562,NaN
1,AUT,GDP,TOT,USD_CAP,A,2019,59719.331647,NaN
2,AUT,GDP,TOT,USD_CAP,A,2020,57253.300563,NaN
3,AUT,GDP,TOT,USD_CAP,A,2021,59976.264665,NaN
4,BEL,GDP,TOT,USD_CAP,A,2018,52530.841510,NaN
5,BEL,GDP,TOT,USD_CAP,A,2019,55800.825988,NaN
6,BEL,GDP,TOT,USD_CAP,A,2020,54539.032525,P
7,BEL,GDP,TOT,USD_CAP,A,2021,58816.266983,P
8,CAN,GDP,TOT,USD_CAP,A,2018,49992.811418,NaN
9,CAN,GDP,TOT,USD_CAP,A,2019,49832.297981,NaN
10,CAN,GDP,TOT,USD_CAP,A,2020,47228.372488,NaN
11,CAN,GDP,TOT,USD_CAP,A,2021,53074.088264,NaN
12,CZE,GDP,TOT,USD_CAP,A,2018,41157.370409,NaN
13,CZE,GDP,TOT,USD_CAP,A,2019,44223.088155,NaN
14,CZE,GDP,TOT,USD_CAP,A,2020,42813.741340,NaN
15,CZE,GDP,TOT,USD_CAP,A,2021,44799.547333,NaN
16,DNK,GDP,TOT,USD_CAP,A,2018,57479.350221,NaN
17,DNK,GDP,TOT,USD_CAP,A,2019,59883.836280,NaN
18,DNK,GDP,TOT,USD_CAP,A,2020,60840.940164,NaN
19,DNK,GDP,TOT,USD_CAP,A,2021,64897.769113,NaN
20,FIN,GDP,TOT,USD_CAP,A,2018,49573.255773,NaN
21,FIN,GDP,TOT,USD_CAP,A,2019,51811.356163,NaN
22,FIN,GDP,TOT,USD_CAP,A,2020,52290.401497,NaN
23,FIN,GDP,TOT,USD_CAP,A,2021,54856.553847,NaN
24,FRA,GDP,TOT,USD_CAP,A,2018,46336.933985,NaN
25,FRA,GDP,TOT,USD_CAP,A,2019,50221.997111,P
26,FRA,GDP,TOT,USD_CAP,A,2020,47823.919578,P
27,FRA,GDP,TOT,USD_CAP,A,2021,50998.933198,P
28,DEU,GDP,TOT,USD_CAP,A,2018,55195.722049,NaN
29,DEU,GDP,TOT,USD_CAP,A,2019,57397.204591,P
30,DEU,GDP,TOT,USD_CAP,A,2020,56476.934309,P
31,DEU,GDP,TOT,USD_CAP,A,2021,58784.138861,P
32,GRC,GDP,TOT,USD_CAP,A,2018,29617.499309,NaN
33,GRC,GDP,TOT,USD_CAP,A,2019,31155.847016,NaN
34,GRC,GDP,TOT,USD_CAP,A,2020,28413.787339,P
35,GRC,GDP,TOT,USD_CAP,A,2021,31177.251307,P
36,HUN,GDP,TOT,USD_CAP,A,2018,31908.661917,NaN
37,HUN,GDP,TOT,USD_CAP,A,2019,34638.671964,NaN
38,HUN,GDP,TOT,USD_CAP,A,2020,34156.840044,P
39,HUN,GDP,TOT,USD_CAP,A,2021,36677.803167,P
40,IRL,GDP,TOT,USD_CAP,A,2018,84824.352993,NaN
41,IRL,GDP,TOT,USD_CAP,A,2019,89846.272208,NaN
42,IRL,GDP,TOT,USD_CAP,A,2020,94028.901163,NaN
43,IRL,GDP,TOT,USD_CAP,A,2021,106852.122229,NaN
44,ITA,GDP,TOT,USD_CAP,A,2018,43427.663143,NaN
45,ITA,GDP,TOT,USD_CAP,A,2019,45799.526931,NaN
46,ITA,GDP,TOT,USD_CAP,A,2020,43129.896677,NaN
47,ITA,GDP,TOT,USD_CAP,A,2021,46546.248219,NaN
48,JPN,GDP,TOT,USD_CAP,A,2018,42239.050068,NaN
49,JPN,GDP,TOT,USD_CAP,A,2019,42465.480080,NaN

In [13]:
df_econ.TIME.unique()

array([2018, 2019, 2020, 2021, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2022,
       2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 1986, 1987, 1988,
       1989], dtype=int64)

In [14]:
df_econ.INDICATOR.unique()

array(['GDP', 'GFCFSECTOR', 'CROPYIELD', 'AGRSUPP', 'EXCH', 'GNI',
       'YRLIFELOST', 'OILPROD'], dtype=object)

In [15]:
df_econ.SUBJECT.unique()

array(['TOT', 'GG', 'RICE', 'WHEAT', 'MAIZE', 'SOYBEAN', 'TSE', 'PSE',
       'CSE', 'GSSE'], dtype=object)

In [16]:
df_econ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33379 entries, 0 to 683
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    33379 non-null  object
 1   INDICATOR   33379 non-null  object
 2   SUBJECT     33379 non-null  object
 3   MEASURE     33379 non-null  object
 4   FREQUENCY   33379 non-null  object
 5   TIME        33379 non-null  int64
 6   Value       33379 non-null  float64
 7   Flag Codes  197 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.3+ MB

In [17]:
# Remove dupliates 

df_econ2 = df_econ.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [18]:
df_econ2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33251 entries, 0 to 683
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    33251 non-null  object
 1   INDICATOR   33251 non-null  object
 2   SUBJECT     33251 non-null  object
 3   MEASURE     33251 non-null  object
 4   FREQUENCY   33251 non-null  object
 5   TIME        33251 non-null  int64
 6   Value       33251 non-null  float64
 7   Flag Codes  167 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.3+ MB

In [19]:
df_econ.LOCATION.unique()

array(['AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU', 'GRC',
       'HUN', 'IRL', 'ITA', 'JPN', 'LUX', 'NLD', 'POL', 'PRT', 'SVK',
       'ESP', 'SWE', 'GBR', 'USA', 'EST', 'SVN', 'OECD', 'LVA', 'LTU',
       'BGR', 'HRV', 'CYP', 'MLT', 'ROU', 'AUS', 'KOR', 'MEX', 'NZL',
       'TUR', 'ARG', 'BRA', 'CHL', 'CHN', 'COL', 'EGY', 'ETH', 'IND',
       'IDN', 'IRN', 'KAZ', 'MYS', 'NGA', 'PAK', 'PRY', 'PER', 'PHL',
       'RUS', 'SAU', 'ZAF', 'THA', 'UKR', 'VNM', 'WLD', 'BRICS', 'NOR',
       'CHE', 'ISR', 'ISL', 'EU', 'CRI'], dtype=object)

In [20]:
# Add dataset to lookup to if a country is EU  or NOT. 
df_eulookup = pd.read_csv("DATA/EU_countries.csv")

df_eulookup.head(50)

   LOCATION       EU_Country  EU
0       AUT          Austria   1
1       BEL          Belgium   1
2       BGR         Bulgaria   1
3       HRV          Croatia   1
4       CYP           Cyprus   1
5       CZE   Czech Republic   1
6       DNK          Denmark   1
7       EST          Estonia   1
8       FIN          Finland   1
9       FRA           France   1
10      DEU          Germany   1
11      GRC           Greece   1
12      HUN          Hungary   1
13      IRL          Ireland   1
14      ITA            Italy   1
15      LVA           Latvia   1
16      LTU        Lithuania   1
17      LUX       Luxembourg   1
18      MLT            Malta   1
19      NLD      Netherlands   1
20      POL           Poland   1
21      PRT         Portugal   1
22      ROU          Romania   1
23      SVK  Slovak Republic   1
24      SVN         Slovenia   1
25      ESP            Spain   1
26      SWE           Sweden   1

In [21]:
# Add colum to say if Location is EU country, OECD benchark or otherwise. 
df_econ3 = df_econ2.join(df_eulookup.set_index('LOCATION'), on='LOCATION')
df_econ3.tail(100)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,EU_Country,EU
584,EST,OILPROD,TOT,KTOE,A,2008,0.0,NaN,Estonia,1.0
585,EST,OILPROD,TOT,KTOE,A,2009,0.0,NaN,Estonia,1.0
586,EST,OILPROD,TOT,KTOE,A,2010,0.0,NaN,Estonia,1.0
587,EST,OILPROD,TOT,KTOE,A,2011,0.0,NaN,Estonia,1.0
588,EST,OILPROD,TOT,KTOE,A,2012,0.0,NaN,Estonia,1.0
...,...,...,...,...,...,...,...,...,...,...
679,CRI,OILPROD,TOT,KTOE,A,2013,0.0,NaN,NaN,NaN
680,CRI,OILPROD,TOT,KTOE,A,2014,0.0,NaN,NaN,NaN
681,CRI,OILPROD,TOT,KTOE,A,2015,0.0,NaN,NaN,NaN
682,CRI,OILPROD,TOT,KTOE,A,2016,0.0,NaN,NaN,NaN
683,CRI,OILPROD,TOT,KTOE,A,2017,0.0,NaN,NaN,NaN

In [22]:
df_econ3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33251 entries, 0 to 683
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    33251 non-null  object
 1   INDICATOR   33251 non-null  object
 2   SUBJECT     33251 non-null  object
 3   MEASURE     33251 non-null  object
 4   FREQUENCY   33251 non-null  object
 5   TIME        33251 non-null  int64
 6   Value       33251 non-null  float64
 7   Flag Codes  167 non-null    object
 8   EU_Country  2948 non-null   object
 9   EU          2948 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 2.8+ MB

In [23]:
df_econ3.TIME.unique()

array([2018, 2019, 2020, 2021, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2022,
       2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 1986, 1987, 1988,
       1989], dtype=int64)

In [24]:
# Mask formula to remove some that contains "-" from the new df

# year_mask = (df_econ3.TIME.str.find("-")==-1)
# df_econ3_year = df_econ3[year_mask]

In [26]:
# df_econ3_year.head()

NameError: name 'df_econ3_year' is not defined

In [ ]:
df_econ4 = df_econ3.astype({'TIME':'int'})

In [ ]:
df_econ5.TIME.unique()

In [ ]:
# from pandas.core.reshape.pivot import pivot

In [27]:
pd.pivot_table(df_econ3, values = 'Value', index=['LOCATION','TIME'], columns = 'INDICATOR').reset_index()

INDICATOR,LOCATION,TIME,AGRSUPP,CROPYIELD,EXCH,GDP,GFCFSECTOR,GNI,OILPROD,YRLIFELOST
0,ARG,1990,NaN,3592.324250,NaN,NaN,NaN,NaN,NaN,NaN
1,ARG,1991,NaN,3685.865750,NaN,NaN,NaN,NaN,NaN,NaN
2,ARG,1992,NaN,3708.984667,NaN,NaN,NaN,NaN,NaN,NaN
3,ARG,1993,NaN,3782.307667,NaN,NaN,NaN,NaN,NaN,NaN
4,ARG,1994,NaN,4102.401917,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2366,ZAF,2026,NaN,2143.978167,NaN,NaN,NaN,NaN,NaN,NaN
2367,ZAF,2027,NaN,2175.352500,NaN,NaN,NaN,NaN,NaN,NaN
2368,ZAF,2028,NaN,2206.567750,NaN,NaN,NaN,NaN,NaN,NaN
2369,ZAF,2029,NaN,2239.788250,NaN,NaN,NaN,NaN,NaN,NaN
2370,ZAF,2030,NaN,2275.879083,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Sample 

## Getting Started with Interactive Data Visualizations

# import pandas as pd
# import numpy as np

In [ ]:

# co2 = pd.read_csv('data/co2.csv')
# co2.head()

# gm = pd.read_csv('data/gapminder.csv')
# gm.head()

# df_gm = gm[['Country', 'region']].drop_duplicates()

# df_w_regions = pd.merge(co2, df_gm, left_on='country', right_on='Country', how='inner')

# df_w_regions = df_w_regions.drop('Country', axis='columns')

# new_co2 = pd.melt(df_w_regions, id_vars=['country', 'region'])

# columns = ['country', 'region', 'year', 'co2']
# new_co2.columns = columns

# df_co2 = new_co2[new_co2['year'].astype('int64') > 1963]
# df_co2 = df_co2.sort_values(by=['country', 'year'])
# df_co2['year'] = df_co2['year'].astype('int64')
# df_co2.head()

# df_gdp = gm[['Country', 'Year', 'gdp']]
# df_gdp.columns = ['country', 'year', 'gdp']
# df_gdp.head()

# data = pd.merge(df_co2, df_gdp, on=['country', 'year'], how='left')

# data = data.dropna()
# data.head()

# np_co2 = np.array(data['co2'])
# np_gdp = np.array(data['gdp'])
# np.corrcoef(np_co2, np_gdp)

# from bokeh.io import curdoc, output_notebook
# from bokeh.plotting import figure, show
# from bokeh.models import HoverTool, ColumnDataSource, CategoricalColorMapper, Slider
# from bokeh.palettes import Spectral6
# from bokeh.layouts import widgetbox, row

# output_notebook()

# regions_list = data.region.unique().tolist()
# color_mapper = CategoricalColorMapper(factors=regions_list, palette=Spectral6)

# Make the ColumnDataSource: source


# source = ColumnDataSource(data={
#     'x': data.gdp[data['year'] == 1964],
#     'y': data.co2[data['year'] == 1964],
#     'country': data.country[data['year'] == 1964],
#     'region': data.region[data['year'] == 1964],
# })

# Save the minimum and maximum values of the gdp column: xmin, xmax

# xmin, xmax = min(data.gdp), max(data.gdp)

# Save the minimum and maximum values of the co2 column: ymin, ymax

# ymin, ymax = min(data.co2), max(data.co2)

# Create the figure: plot


# plot = figure(title='CO2 Emissions vs GDP in 1964', 
#               plot_height=600, plot_width=1000,
#               x_range=(xmin, xmax),
#               y_range=(ymin, ymax), y_axis_type='log')

# Add circle glyphs to the plot

# plot.circle(x='x', y='y', fill_alpha=0.8, source=source, legend='region',
#             color=dict(field='region', transform=color_mapper),
#             size=7)

# # Set the legend.location attribute of the plot
# plot.legend.location = 'bottom_right'

# # Set the x-axis label
# plot.xaxis.axis_label = 'Income Per Person'

# # Set the y-axis label
# plot.yaxis.axis_label = 'CO2 Emissions (tons per person)'

# show(plot)

# ### Adding a Slider to the Static Plot 

# slider = Slider(start=min(data.year), end=max(data.year), step=1,
# value=min(data.year), title='Year') 

# def update_plot(attr, old, new):
#     yr = slider.value
#     new_data = {
#      'x': data.gdp[data['year'] == yr], 
#      'y': data.co2[data['year'] == yr],
#      'country': data.country[data['year'] == yr],
#      'region': data.region[data['year'] == yr],
#     }
#     source.data = new_data
#     plot.title.text = 'CO2 Emissions vs GDP in %d' % yr 

# slider.on_change('value', update_plot)

# layout = row(widgetbox(slider), plot) 

# curdoc().add_root(layout) 

# ### Adding a Hover Tool 

# hover = HoverTool(tooltips=[('Country', '@country'), ('GDP', '@x'), ('CO2 Emission','@y')]) 

# plot.add_tools(hover) 

# !bokeh serve --show Getting_Started_with_Interactive_Data_Visualizations.ipynb

# ## Interactive Data Visualization with Plotly Express 

# import pandas as pd
# import plotly.express as px 

# co2 = pd.read_csv('data/co2.csv')
# gm = pd.read_csv('data/gapminder.csv')

# df_gm = gm[['Country', 'region']].drop_duplicates()
# df_w_regions = pd.merge(co2, df_gm, left_on='country', right_on='Country',how='inner')
# df_w_regions = df_w_regions.drop('Country', axis='columns')
# new_co2 = pd.melt(df_w_regions, id_vars=['country', 'region'])
# columns = ['country', 'region', 'year', 'co2']
# new_co2.columns = columns
# df_co2 = new_co2[new_co2['year'].astype('int64') > 1963]
# df_co2 = df_co2.sort_values(by=['country', 'year'])
# df_co2['year'] = df_co2['year'].astype('int64')
# df_gdp = gm[['Country', 'Year', 'gdp']]
# df_gdp.columns = ['country', 'year', 'gdp']
# data = pd.merge(df_co2, df_gdp, on=['country', 'year'], how='left') 
# data = data.dropna() 

# data.head() 


# xmin, xmax = min(data.gdp), max(data.gdp) 

# ymin, ymax = min(data.co2), max(data.co2) 

# fig = px.scatter(data, x="gdp", y="co2", animation_frame="year",
# animation_group="country", color="region", hover_name="country",
# facet_col="region", width=1579, height=400, log_x=True, size_max=45,
# range_x=[xmin,xmax], range_y=[ymin,ymax]) 


# fig.show()

## Price Dataset

In [68]:
#df_price = pd.read_csv("Prices_E_All_Data/Prices_E_All_Data_upload.csv")
df_price.head(50)

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
0,2,'004,Afghanistan,0,221,'01371,"Almonds, in shell",5530,Producer Price (LCU/tonne),7021,...,240500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,'004,Afghanistan,0,221,'01371,"Almonds, in shell",5531,Producer Price (SLC/tonne),7021,...,240500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,'004,Afghanistan,0,221,'01371,"Almonds, in shell",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,82.33,85.42,66.22
3,2,'004,Afghanistan,0,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,87.51,87.03,84.54
4,2,'004,Afghanistan,0,515,'01341,Apples,5530,Producer Price (LCU/tonne),7021,...,22600.00,NaN,NaN,NaN,31400.00,35700.00,22331.40,NaN,NaN,NaN
5,2,'004,Afghanistan,0,515,'01341,Apples,5531,Producer Price (SLC/tonne),7021,...,22600.00,NaN,NaN,NaN,31400.00,35700.00,22331.40,NaN,NaN,NaN
6,2,'004,Afghanistan,0,515,'01341,Apples,5539,Producer Price Index (2014-2016 = 100),7021,...,93.12,89.94,87.05,83.58,129.37,147.09,92.01,86.10,80.38,62.96
7,2,'004,Afghanistan,0,526,'01343,Apricots,5530,Producer Price (LCU/tonne),7021,...,24500.00,NaN,NaN,NaN,22000.00,24900.00,23925.80,NaN,NaN,NaN
8,2,'004,Afghanistan,0,526,'01343,Apricots,5531,Producer Price (SLC/tonne),7021,...,24500.00,NaN,NaN,NaN,22000.00,24900.00,23925.80,NaN,NaN,NaN
9,2,'004,Afghanistan,0,526,'01343,Apricots,5539,Producer Price Index (2014-2016 = 100),7021,...,109.88,106.13,102.71,98.62,98.66,111.67,107.30,106.21,106.45,106.38
10,2,'004,Afghanistan,0,44,'0115,Barley,5530,Producer Price (LCU/tonne),7021,...,3870.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,'004,Afghanistan,0,44,'0115,Barley,5531,Producer Price (SLC/tonne),7021,...,3870.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2,'004,Afghanistan,0,44,'0115,Barley,5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,77.61,68.82,42.44
13,2,'004,Afghanistan,0,568,'01229,Cantaloupes and other melons,5530,Producer Price (LCU/tonne),7021,...,NaN,NaN,NaN,NaN,21100.00,10000.00,12277.50,NaN,NaN,NaN
14,2,'004,Afghanistan,0,568,'01229,Cantaloupes and other melons,5531,Producer Price (SLC/tonne),7021,...,NaN,NaN,NaN,NaN,21100.00,10000.00,12277.50,NaN,NaN,NaN
15,2,'004,Afghanistan,0,568,'01229,Cantaloupes and other melons,5539,Producer Price Index (2014-2016 = 100),7021,...,117.02,113.03,109.40,105.04,85.57,40.55,49.79,62.16,82.91,145.03
16,2,'004,Afghanistan,0,767,'01921.02,"Cotton lint, ginned",5530,Producer Price (LCU/tonne),7021,...,NaN,NaN,NaN,NaN,54500.00,100000.00,NaN,NaN,NaN,NaN
17,2,'004,Afghanistan,0,767,'01921.02,"Cotton lint, ginned",5531,Producer Price (SLC/tonne),7021,...,NaN,NaN,NaN,NaN,54500.00,100000.00,NaN,NaN,NaN,NaN
18,2,'004,Afghanistan,0,767,'01921.02,"Cotton lint, ginned",5539,Producer Price Index (2014-2016 = 100),7021,...,109.12,110.25,112.45,114.31,73.24,134.39,103.44,102.06,103.50,105.31
19,2,'004,Afghanistan,0,329,'0143,Cotton seed,5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,87.47,88.00,92.57
20,2,'004,Afghanistan,0,569,'01315,Figs,5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,80.91,84.85,65.57
21,2,'004,Afghanistan,0,1163,'21170.02,"Game meat, fresh, chilled or frozen",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,80.18,75.39,61.03
22,2,'004,Afghanistan,0,560,'01330,Grapes,5530,Producer Price (LCU/tonne),7021,...,36850.00,NaN,NaN,NaN,34500.00,26100.00,24721.80,NaN,NaN,NaN
23,2,'004,Afghanistan,0,560,'01330,Grapes,5531,Producer Price (SLC/tonne),7021,...,36850.00,NaN,NaN,NaN,34500.00,26100.00,24721.80,NaN,NaN,NaN
24,2,'004,Afghanistan,0,560,'01330,Grapes,5539,Producer Price Index (2014-2016 = 100),7021,...,108.36,104.66,101.29,97.26,101.45,76.75,72.69,80.41,76.40,64.38
25,2,'004,Afghanistan,0,1062,'0231,"Hen eggs in shell, fresh",5530,Producer Price (LCU/tonne),7021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2,'004,Afghanistan,0,1062,'0231,"Hen eggs in shell, fresh",5531,Producer Price (SLC/tonne),7021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2,'004,Afghanistan,0,1062,'0231,"Hen eggs in shell, fresh",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,87.00,87.21,90.60
28,2,'004,Afghanistan,0,333,'01441,Linseed,5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,89.17,87.09,79.33
29,2,'004,Afghanistan,0,56,'0112,Maize (corn),5530,Producer Price (LCU/tonne),7021,...,4100.00,NaN,NaN,NaN,21300.00,20700.00,19160.00,NaN,NaN,NaN
30,2,'004,Afghanistan,0,56,'0112,Maize (corn),5531,Producer Price (SLC/tonne),7021,...,4100.00,NaN,NaN,NaN,21300.00,20700.00,19160.00,NaN,NaN,NaN
31,2,'004,Afghanistan,0,56,'0112,Maize (corn),5539,Producer Price Index (2014-2016 = 100),7021,...,24.12,48.65,74.36,100.32,125.32,121.79,112.73,111.14,111.18,96.28
32,2,'004,Afghanistan,0,1127,'21117.01,"Meat of camels, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,88.09,89.03,95.14
33,2,'004,Afghanistan,0,1138,'21117.01b,"Meat of camels, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,88.09,89.03,95.14
34,2,'004,Afghanistan,0,867,'21111.01,"Meat of cattle with the bone, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,87.98,88.85,94.69
35,2,'004,Afghanistan,0,945,'21111.01b,"Meat of cattle with the bone, fresh or chilled...",5530,Producer Price (LCU/tonne),7021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2,'004,Afghanistan,0,945,'21111.01b,"Meat of cattle with the bone, fresh or chilled...",5531,Producer Price (SLC/tonne),7021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2,'004,Afghanistan,0,945,'21111.01b,"Meat of cattle with the bone, fresh or chilled...",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,87.98,88.85,94.69
38,2,'004,Afghanistan,0,1058,'21121,"Meat of chickens, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,88.13,89.10,95.33
39,2,'004,Afghanistan,0,1095,'21121b,"Meat of chickens, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,88.13,89.10,95.33
40,2,'004,Afghanistan,0,1017,'21116,"Meat of goat, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,88.78,90.18,98.03
41,2,'004,Afghanistan,0,1033,'21116b,"Meat of goat, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,88.78,90.18,98.03
42,2,'004,Afghanistan,0,977,'21115,"Meat of sheep, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,87.11,87.39,91.05
43,2,'004,Afghanistan,0,1013,'21115b,"Meat of sheep, fresh or chilled (biological)",5530,Producer Price (LCU/tonne),7021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2,'004,Afghanistan,0,1013,'21115b,"Meat of sheep, fresh or chilled (biological)",5531,Producer Price (SLC/tonne),7021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2,'004,Afghanistan,0,1013,'21115b,"Meat of sheep, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,87.11,87.39,91.05
46,2,'004,Afghanistan,0,79,'0118,Millet,5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,80.02,66.77,27.01
47,2,'004,Afghanistan,0,1182,'02910,Natural honey,5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,100.35,109.39,146.06
48,2,'004,Afghanistan,0,260,'01450,Olives,5539,Producer Price Index (2014-2016 = 100),7021,...,112.77,108.92,105.42,101.22,93.36,89.57,85.02,87.35,85.99,80.65
49,2,'004,Afghanistan,0,490,'01323,Oranges,5530,Producer Price (LCU/tonne),7021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# selecting rows based on condition
df_price_eu = df_price.loc[df_price['eu_member'] == 1]

df_price_eu.head(50)

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
3555,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7021,...,436.00,535.00,398.00,390.00,349.00,564.00,599.00,482.00,807.00,NaN
3556,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7001,...,376.00,376.00,449.00,262.00,NaN,NaN,NaN,NaN,NaN,NaN
3557,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7002,...,369.00,369.00,441.00,262.00,NaN,NaN,NaN,NaN,NaN,NaN
3558,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7003,...,381.00,381.00,427.00,288.00,NaN,NaN,NaN,NaN,NaN,NaN
3559,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7004,...,388.00,388.00,372.00,369.00,NaN,NaN,NaN,NaN,NaN,NaN
3560,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7005,...,364.00,365.00,367.00,350.00,NaN,NaN,NaN,NaN,NaN,NaN
3561,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7006,...,341.00,342.00,309.00,361.00,NaN,NaN,NaN,NaN,NaN,NaN
3562,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7007,...,502.00,502.00,380.00,353.00,NaN,NaN,NaN,NaN,NaN,NaN
3563,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7008,...,496.00,496.00,396.00,444.00,NaN,NaN,NaN,NaN,NaN,NaN
3564,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7009,...,476.00,476.00,363.00,451.00,NaN,NaN,NaN,NaN,NaN,NaN
3565,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7010,...,458.00,458.00,352.00,429.00,NaN,NaN,NaN,NaN,NaN,NaN
3566,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7011,...,470.00,470.00,304.00,432.00,NaN,NaN,NaN,NaN,NaN,NaN
3567,11,'040,Austria,1,515,'01341,Apples,5530,Producer Price (LCU/tonne),7012,...,478.00,478.00,304.00,432.00,NaN,NaN,NaN,NaN,NaN,NaN
3568,11,'040,Austria,1,515,'01341,Apples,5531,Producer Price (SLC/tonne),7021,...,436.00,535.00,398.00,390.00,349.00,564.00,599.00,482.00,807.00,NaN
3569,11,'040,Austria,1,515,'01341,Apples,5532,Producer Price (USD/tonne),7021,...,560.20,710.30,528.10,432.50,386.10,637.10,707.40,539.60,921.80,NaN
3570,11,'040,Austria,1,515,'01341,Apples,5539,Producer Price Index (2014-2016 = 100),7021,...,115.04,141.16,105.01,102.90,92.08,148.81,158.05,127.18,212.93,268.24
3571,11,'040,Austria,1,526,'01343,Apricots,5530,Producer Price (LCU/tonne),7021,...,3346.00,3041.00,3402.00,3522.00,3535.00,3257.00,3982.00,2814.00,4153.00,NaN
3572,11,'040,Austria,1,526,'01343,Apricots,5530,Producer Price (LCU/tonne),7006,...,4064.00,4064.00,3468.00,3862.00,NaN,NaN,NaN,NaN,NaN,NaN
3573,11,'040,Austria,1,526,'01343,Apricots,5530,Producer Price (LCU/tonne),7007,...,3386.00,3386.00,3402.00,3439.00,NaN,NaN,NaN,NaN,NaN,NaN
3574,11,'040,Austria,1,526,'01343,Apricots,5530,Producer Price (LCU/tonne),7008,...,2800.00,2800.00,3500.00,3528.00,NaN,NaN,NaN,NaN,NaN,NaN
3575,11,'040,Austria,1,526,'01343,Apricots,5531,Producer Price (SLC/tonne),7021,...,3346.00,3041.00,3402.00,3522.00,3535.00,3257.00,3982.00,2814.00,4153.00,NaN
3576,11,'040,Austria,1,526,'01343,Apricots,5532,Producer Price (USD/tonne),7021,...,4299.10,4037.40,4513.70,3906.00,3910.40,3679.40,4702.60,3150.20,4743.50,NaN
3577,11,'040,Austria,1,526,'01343,Apricots,5539,Producer Price Index (2014-2016 = 100),7021,...,95.97,87.23,97.58,101.02,101.40,93.42,114.22,80.72,119.12,102.44
3578,11,'040,Austria,1,367,'01211,Asparagus,5530,Producer Price (LCU/tonne),7021,...,5859.00,6097.00,5467.00,5958.00,6348.00,5907.00,6346.00,NaN,NaN,NaN
3579,11,'040,Austria,1,367,'01211,Asparagus,5530,Producer Price (LCU/tonne),7004,...,6550.00,6550.00,6350.00,6790.00,6850.00,6700.00,NaN,NaN,NaN,NaN
3580,11,'040,Austria,1,367,'01211,Asparagus,5530,Producer Price (LCU/tonne),7005,...,5700.00,5700.00,5400.00,5722.00,6386.00,5985.00,NaN,NaN,NaN,NaN
3581,11,'040,Austria,1,367,'01211,Asparagus,5530,Producer Price (LCU/tonne),7006,...,5380.00,5380.00,5338.00,5400.00,5500.00,5250.00,NaN,NaN,NaN,NaN
3582,11,'040,Austria,1,367,'01211,Asparagus,5531,Producer Price (SLC/tonne),7021,...,5859.00,6097.00,5467.00,5958.00,6348.00,5907.00,6346.00,NaN,NaN,NaN
3583,11,'040,Austria,1,367,'01211,Asparagus,5532,Producer Price (USD/tonne),7021,...,7527.90,8094.80,7253.50,6607.50,7022.10,6673.10,7494.30,NaN,NaN,NaN
3584,11,'040,Austria,1,367,'01211,Asparagus,5539,Producer Price Index (2014-2016 = 100),7021,...,98.90,102.91,92.28,100.57,107.15,99.71,107.12,97.61,96.88,92.25
3585,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7021,...,183.00,140.00,111.00,118.00,102.00,116.00,137.00,123.00,116.00,NaN
3586,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7001,...,166.00,166.00,172.00,110.00,140.00,114.00,137.00,173.00,139.00,NaN
3587,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7002,...,179.00,179.00,165.00,133.00,124.00,114.00,129.00,173.00,125.00,NaN
3588,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7003,...,180.00,180.00,170.00,134.00,131.00,115.00,138.00,164.00,135.00,NaN
3589,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7004,...,175.00,175.00,138.00,122.00,116.00,109.00,134.00,159.00,133.00,NaN
3590,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7005,...,187.00,187.00,172.00,127.00,117.00,121.00,142.00,171.00,134.00,NaN
3591,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7006,...,181.00,181.00,154.00,122.00,131.00,123.00,138.00,164.00,133.00,NaN
3592,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7007,...,184.00,184.00,117.00,121.00,97.00,119.00,133.00,132.00,125.00,NaN
3593,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7008,...,181.00,181.00,104.00,109.00,83.00,102.00,115.00,114.00,104.00,NaN
3594,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7009,...,184.00,184.00,110.00,119.00,107.00,126.00,143.00,129.00,126.00,NaN
3595,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7010,...,187.00,187.00,114.00,128.00,98.00,124.00,143.00,127.00,122.00,NaN
3596,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7011,...,194.00,194.00,115.00,128.00,109.00,132.00,149.00,120.00,124.00,NaN
3597,11,'040,Austria,1,44,'0115,Barley,5530,Producer Price (LCU/tonne),7012,...,195.00,195.00,119.00,140.00,109.00,127.00,160.00,134.00,140.00,NaN
3598,11,'040,Austria,1,44,'0115,Barley,5531,Producer Price (SLC/tonne),7021,...,183.00,140.00,111.00,118.00,102.00,116.00,137.00,123.00,116.00,NaN
3599,11,'040,Austria,1,44,'0115,Barley,5532,Producer Price (USD/tonne),7021,...,235.10,185.90,147.30,130.90,112.80,131.00,161.80,137.70,132.50,NaN
3600,11,'040,Austria,1,44,'0115,Barley,5539,Producer Price Index (2014-2016 = 100),7021,...,165.86,126.89,100.60,106.95,92.45,105.14,124.17,111.48,105.14,102.09
3601,11,'040,Austria,1,176,'01701,"Beans, dry",5530,Producer Price (LCU/tonne),7021,...,3020.00,3020.00,3900.00,3849.00,4619.00,4847.00,4616.00,NaN,NaN,NaN
3602,11,'040,Austria,1,176,'01701,"Beans, dry",5530,Producer Price (LCU/tonne),7001,...,3020.00,3020.00,3900.00,3800.00,4500.00,4650.00,NaN,NaN,NaN,NaN
3603,11,'040,Austria,1,176,'01701,"Beans, dry",5530,Producer Price (LCU/tonne),7002,...,3020.00,3020.00,3900.00,3800.00,4500.00,4650.00,NaN,NaN,NaN,NaN
3604,11,'040,Austria,1,176,'01701,"Beans, dry",5530,Producer Price (LCU/tonne),7003,...,3020.00,3020.00,3900.00,3800.00,4500.00,4650.00,NaN,NaN,NaN,NaN

In [64]:
# selecting rows based on condition
df_price_eu_ppi = df_price_eu.loc[df_price['Element'] == "Producer Price Index (2014-2016 = 100)"]

df_price_eu_ppi.head(50)

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
3570,11,'040,Austria,1,515,'01341,Apples,5539,Producer Price Index (2014-2016 = 100),7021,...,115.04,141.16,105.01,102.90,92.08,148.81,158.05,127.18,212.93,268.24
3577,11,'040,Austria,1,526,'01343,Apricots,5539,Producer Price Index (2014-2016 = 100),7021,...,95.97,87.23,97.58,101.02,101.40,93.42,114.22,80.72,119.12,102.44
3584,11,'040,Austria,1,367,'01211,Asparagus,5539,Producer Price Index (2014-2016 = 100),7021,...,98.90,102.91,92.28,100.57,107.15,99.71,107.12,97.61,96.88,92.25
3600,11,'040,Austria,1,44,'0115,Barley,5539,Producer Price Index (2014-2016 = 100),7021,...,165.86,126.89,100.60,106.95,92.45,105.14,124.17,111.48,105.14,102.09
3616,11,'040,Austria,1,176,'01701,"Beans, dry",5539,Producer Price Index (2014-2016 = 100),7021,...,73.25,73.25,94.60,93.36,112.04,117.57,111.97,112.26,112.55,112.84
3624,11,'040,Austria,1,181,'01702,"Broad beans and horse beans, dry",5539,Producer Price Index (2014-2016 = 100),7021,...,130.16,130.16,111.48,103.31,85.21,98.64,93.94,91.37,87.98,84.58
3625,11,'040,Austria,1,420,'01243,"Broad beans and horse beans, green",5539,Producer Price Index (2014-2016 = 100),7021,...,85.06,97.92,89.81,100.71,109.47,104.74,112.39,99.33,97.88,90.99
3641,11,'040,Austria,1,358,'01212,Cabbages,5539,Producer Price Index (2014-2016 = 100),7021,...,104.61,106.24,87.11,109.09,103.80,96.47,107.46,102.66,97.16,91.87
3657,11,'040,Austria,1,426,'01251,Carrots and turnips,5539,Producer Price Index (2014-2016 = 100),7021,...,98.73,103.03,86.29,110.92,102.79,87.25,96.57,97.94,89.81,81.68
3669,11,'040,Austria,1,393,'01213,Cauliflowers and broccoli,5539,Producer Price Index (2014-2016 = 100),7021,...,75.24,93.52,88.57,116.19,95.24,109.71,92.38,87.59,82.80,78.02
3670,11,'040,Austria,1,108,'01199.90,Cereals n.e.c.,5539,Producer Price Index (2014-2016 = 100),7021,...,180.10,126.39,107.08,103.48,89.45,100.09,105.98,106.27,102.84,99.41
3677,11,'040,Austria,1,531,'01344.02,Cherries,5539,Producer Price Index (2014-2016 = 100),7021,...,91.99,89.27,98.78,93.83,107.39,116.43,110.21,113.01,179.19,152.62
3690,11,'040,Austria,1,401,'01231,"Chillies and peppers, green (Capsicum spp. and...",5539,Producer Price Index (2014-2016 = 100),7021,...,84.19,86.63,99.08,100.69,100.23,95.34,88.31,90.60,90.14,89.69
3704,11,'040,Austria,1,397,'01232,Cucumbers and gherkins,5539,Producer Price Index (2014-2016 = 100),7021,...,91.26,105.59,89.75,104.84,105.41,94.28,104.65,97.04,97.99,95.89
3710,11,'040,Austria,1,550,'01351.01,Currants,5539,Producer Price Index (2014-2016 = 100),7021,...,95.54,90.45,95.40,98.13,106.47,134.54,126.55,127.84,162.25,184.02
3719,11,'040,Austria,1,399,'01233,Eggplants (aubergines),5539,Producer Price Index (2014-2016 = 100),7021,...,58.65,105.12,87.46,98.87,113.68,77.43,92.47,80.52,69.91,58.77
3720,11,'040,Austria,1,1163,'21170.02,"Game meat, fresh, chilled or frozen",5539,Producer Price Index (2014-2016 = 100),7021,...,105.92,107.05,101.76,98.73,99.52,106.43,101.59,98.40,102.67,103.46
3724,11,'040,Austria,1,549,'01351.02,Gooseberries,5539,Producer Price Index (2014-2016 = 100),7021,...,90.73,88.28,85.57,99.38,115.05,117.70,118.93,129.74,140.55,151.35
3730,11,'040,Austria,1,560,'01330,Grapes,5539,Producer Price Index (2014-2016 = 100),7021,...,106.13,86.06,68.12,83.32,148.56,89.10,40.45,44.10,62.04,79.98
3731,11,'040,Austria,1,446,'01290.01,Green corn (maize),5539,Producer Price Index (2014-2016 = 100),7021,...,91.81,105.69,96.94,108.71,94.36,104.57,104.36,99.05,95.75,92.45
3747,11,'040,Austria,1,406,'01252,Green garlic,5539,Producer Price Index (2014-2016 = 100),7021,...,113.60,98.95,102.64,100.92,96.44,94.86,95.63,94.42,93.22,92.02
3763,11,'040,Austria,1,1062,'0231,"Hen eggs in shell, fresh",5539,Producer Price Index (2014-2016 = 100),7021,...,99.02,102.06,100.20,99.11,100.70,103.29,106.65,106.65,106.60,106.76
3767,11,'040,Austria,1,677,'01659,Hop cones,5539,Producer Price Index (2014-2016 = 100),7021,...,90.94,90.80,90.65,96.17,113.17,113.61,116.08,116.66,115.93,116.37
3771,11,'040,Austria,1,1097,'21118.01,"Horse meat, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,96.97,93.74,95.82,95.46,108.72,119.99,129.44,125.77,122.10,118.43
3787,11,'040,Austria,1,1121,'21118.01b,"Horse meat, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,96.52,93.68,95.57,95.57,108.86,120.13,129.60,125.97,122.35,118.73
3791,11,'040,Austria,1,407,'01254,Leeks and other alliaceous vegetables,5539,Producer Price Index (2014-2016 = 100),7021,...,275.02,96.67,96.35,98.56,105.08,131.91,118.23,119.97,131.17,137.69
3804,11,'040,Austria,1,372,'01214,Lettuce and chicory,5539,Producer Price Index (2014-2016 = 100),7021,...,88.92,99.03,90.29,102.63,107.08,109.48,115.99,98.26,108.50,105.23
3805,11,'040,Austria,1,333,'01441,Linseed,5539,Producer Price Index (2014-2016 = 100),7021,...,148.76,110.36,93.58,102.29,104.13,99.85,94.66,98.14,102.31,106.45
3806,11,'040,Austria,1,210,'01709.02,Lupins,5539,Producer Price Index (2014-2016 = 100),7021,...,73.25,73.25,94.60,93.36,112.04,117.57,111.97,108.58,105.08,101.58
3822,11,'040,Austria,1,56,'0112,Maize (corn),5539,Producer Price Index (2014-2016 = 100),7021,...,173.11,118.28,86.95,114.36,98.69,109.66,109.66,100.26,102.61,102.92
3826,11,'040,Austria,1,867,'21111.01,"Meat of cattle with the bone, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,102.49,100.89,97.95,102.22,99.82,103.29,103.56,99.56,97.31,95.06
3842,11,'040,Austria,1,945,'21111.01b,"Meat of cattle with the bone, fresh or chilled...",5539,Producer Price Index (2014-2016 = 100),7021,...,102.46,100.79,97.89,102.13,99.98,103.46,103.70,99.70,98.89,98.08
3846,11,'040,Austria,1,1058,'21121,"Meat of chickens, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,99.69,107.67,107.21,96.90,95.89,95.43,125.28,122.21,121.23,120.22
3862,11,'040,Austria,1,1095,'21121b,"Meat of chickens, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,85.79,100.00,100.00,100.00,100.00,100.00,97.86,93.69,93.69,92.58
3866,11,'040,Austria,1,1069,'21122,"Meat of ducks, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,83.61,89.10,100.33,100.33,99.33,99.33,57.53,57.53,56.58,55.58
3870,11,'040,Austria,1,1071,'21122b,"Meat of ducks, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,83.61,89.10,100.33,100.33,99.33,99.33,57.53,57.90,57.90,57.90
3874,11,'040,Austria,1,1073,'21123,"Meat of geese, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,91.02,94.88,94.88,100.68,104.44,104.44,113.99,113.99,119.46,123.22
3878,11,'040,Austria,1,1078,'21123b,"Meat of geese, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,91.02,94.88,94.88,100.68,104.44,104.44,113.99,127.30,127.30,131.43
3879,11,'040,Austria,1,1017,'21116,"Meat of goat, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,94.37,96.41,98.00,99.85,102.15,102.15,101.45,97.78,94.11,90.44
3883,11,'040,Austria,1,1033,'21116b,"Meat of goat, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,94.37,96.41,98.00,99.85,102.15,102.15,101.45,97.78,94.11,90.44
3887,11,'040,Austria,1,1035,'21113.01,"Meat of pig with the bone, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,113.00,113.66,105.73,95.15,99.12,109.69,99.12,116.96,114.98,118.94
3903,11,'040,Austria,1,1056,'21113.01b,"Meat of pig with the bone, fresh or chilled (b...",5539,Producer Price Index (2014-2016 = 100),7021,...,114.02,113.62,105.68,95.12,99.21,109.77,99.21,117.05,113.12,117.56
3904,11,'040,Austria,1,1141,'21114,"Meat of rabbits and hares, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,105.92,107.05,101.76,98.73,99.52,106.43,101.59,98.40,102.67,103.46
3908,11,'040,Austria,1,1145,'21114b,"Meat of rabbits and hares, fresh or chilled (b...",5539,Producer Price Index (2014-2016 = 100),7021,...,105.92,107.05,101.76,98.73,99.52,106.43,101.59,98.40,102.67,103.46
3912,11,'040,Austria,1,977,'21115,"Meat of sheep, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,95.43,97.80,92.00,102.91,105.09,109.51,111.23,114.73,117.77,120.99
3928,11,'040,Austria,1,1013,'21115b,"Meat of sheep, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,93.22,95.58,97.95,99.84,102.21,102.21,102.21,102.21,103.63,102.68
3932,11,'040,Austria,1,1080,'21124,"Meat of turkeys, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,94.30,98.45,97.32,101.42,101.26,99.37,101.96,101.96,100.61,100.45
3948,11,'040,Austria,1,1088,'21124b,"Meat of turkeys, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,94.36,98.47,97.32,101.44,101.24,99.42,101.98,101.98,101.98,101.98
3949,11,'040,Austria,1,79,'0118,Millet,5539,Producer Price Index (2014-2016 = 100),7021,...,171.73,120.45,109.87,103.36,86.76,106.38,108.64,95.37,88.71,82.04
3950,11,'040,Austria,1,103,'01199.02,Mixed grain,5539,Producer Price Index (2014-2016 = 100),7021,...,171.73,120.45,109.87,103.36,86.76,106.38,108.64,105.42,102.86,100.31

In [72]:
# # selecting rows based on condition
# df_price_eu_ppi = df_price_eu.loc[df_price['Element'] == "Producer Price Index (2014-2016 = 100)"]

# df_price_eu_ppi.head(50)

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
3570,11,'040,Austria,1,515,'01341,Apples,5539,Producer Price Index (2014-2016 = 100),7021,...,115.04,141.16,105.01,102.90,92.08,148.81,158.05,127.18,212.93,268.24
3577,11,'040,Austria,1,526,'01343,Apricots,5539,Producer Price Index (2014-2016 = 100),7021,...,95.97,87.23,97.58,101.02,101.40,93.42,114.22,80.72,119.12,102.44
3584,11,'040,Austria,1,367,'01211,Asparagus,5539,Producer Price Index (2014-2016 = 100),7021,...,98.90,102.91,92.28,100.57,107.15,99.71,107.12,97.61,96.88,92.25
3600,11,'040,Austria,1,44,'0115,Barley,5539,Producer Price Index (2014-2016 = 100),7021,...,165.86,126.89,100.60,106.95,92.45,105.14,124.17,111.48,105.14,102.09
3616,11,'040,Austria,1,176,'01701,"Beans, dry",5539,Producer Price Index (2014-2016 = 100),7021,...,73.25,73.25,94.60,93.36,112.04,117.57,111.97,112.26,112.55,112.84
3624,11,'040,Austria,1,181,'01702,"Broad beans and horse beans, dry",5539,Producer Price Index (2014-2016 = 100),7021,...,130.16,130.16,111.48,103.31,85.21,98.64,93.94,91.37,87.98,84.58
3625,11,'040,Austria,1,420,'01243,"Broad beans and horse beans, green",5539,Producer Price Index (2014-2016 = 100),7021,...,85.06,97.92,89.81,100.71,109.47,104.74,112.39,99.33,97.88,90.99
3641,11,'040,Austria,1,358,'01212,Cabbages,5539,Producer Price Index (2014-2016 = 100),7021,...,104.61,106.24,87.11,109.09,103.80,96.47,107.46,102.66,97.16,91.87
3657,11,'040,Austria,1,426,'01251,Carrots and turnips,5539,Producer Price Index (2014-2016 = 100),7021,...,98.73,103.03,86.29,110.92,102.79,87.25,96.57,97.94,89.81,81.68
3669,11,'040,Austria,1,393,'01213,Cauliflowers and broccoli,5539,Producer Price Index (2014-2016 = 100),7021,...,75.24,93.52,88.57,116.19,95.24,109.71,92.38,87.59,82.80,78.02
3670,11,'040,Austria,1,108,'01199.90,Cereals n.e.c.,5539,Producer Price Index (2014-2016 = 100),7021,...,180.10,126.39,107.08,103.48,89.45,100.09,105.98,106.27,102.84,99.41
3677,11,'040,Austria,1,531,'01344.02,Cherries,5539,Producer Price Index (2014-2016 = 100),7021,...,91.99,89.27,98.78,93.83,107.39,116.43,110.21,113.01,179.19,152.62
3690,11,'040,Austria,1,401,'01231,"Chillies and peppers, green (Capsicum spp. and...",5539,Producer Price Index (2014-2016 = 100),7021,...,84.19,86.63,99.08,100.69,100.23,95.34,88.31,90.60,90.14,89.69
3704,11,'040,Austria,1,397,'01232,Cucumbers and gherkins,5539,Producer Price Index (2014-2016 = 100),7021,...,91.26,105.59,89.75,104.84,105.41,94.28,104.65,97.04,97.99,95.89
3710,11,'040,Austria,1,550,'01351.01,Currants,5539,Producer Price Index (2014-2016 = 100),7021,...,95.54,90.45,95.40,98.13,106.47,134.54,126.55,127.84,162.25,184.02
3719,11,'040,Austria,1,399,'01233,Eggplants (aubergines),5539,Producer Price Index (2014-2016 = 100),7021,...,58.65,105.12,87.46,98.87,113.68,77.43,92.47,80.52,69.91,58.77
3720,11,'040,Austria,1,1163,'21170.02,"Game meat, fresh, chilled or frozen",5539,Producer Price Index (2014-2016 = 100),7021,...,105.92,107.05,101.76,98.73,99.52,106.43,101.59,98.40,102.67,103.46
3724,11,'040,Austria,1,549,'01351.02,Gooseberries,5539,Producer Price Index (2014-2016 = 100),7021,...,90.73,88.28,85.57,99.38,115.05,117.70,118.93,129.74,140.55,151.35
3730,11,'040,Austria,1,560,'01330,Grapes,5539,Producer Price Index (2014-2016 = 100),7021,...,106.13,86.06,68.12,83.32,148.56,89.10,40.45,44.10,62.04,79.98
3731,11,'040,Austria,1,446,'01290.01,Green corn (maize),5539,Producer Price Index (2014-2016 = 100),7021,...,91.81,105.69,96.94,108.71,94.36,104.57,104.36,99.05,95.75,92.45
3747,11,'040,Austria,1,406,'01252,Green garlic,5539,Producer Price Index (2014-2016 = 100),7021,...,113.60,98.95,102.64,100.92,96.44,94.86,95.63,94.42,93.22,92.02
3763,11,'040,Austria,1,1062,'0231,"Hen eggs in shell, fresh",5539,Producer Price Index (2014-2016 = 100),7021,...,99.02,102.06,100.20,99.11,100.70,103.29,106.65,106.65,106.60,106.76
3767,11,'040,Austria,1,677,'01659,Hop cones,5539,Producer Price Index (2014-2016 = 100),7021,...,90.94,90.80,90.65,96.17,113.17,113.61,116.08,116.66,115.93,116.37
3771,11,'040,Austria,1,1097,'21118.01,"Horse meat, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,96.97,93.74,95.82,95.46,108.72,119.99,129.44,125.77,122.10,118.43
3787,11,'040,Austria,1,1121,'21118.01b,"Horse meat, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,96.52,93.68,95.57,95.57,108.86,120.13,129.60,125.97,122.35,118.73
3791,11,'040,Austria,1,407,'01254,Leeks and other alliaceous vegetables,5539,Producer Price Index (2014-2016 = 100),7021,...,275.02,96.67,96.35,98.56,105.08,131.91,118.23,119.97,131.17,137.69
3804,11,'040,Austria,1,372,'01214,Lettuce and chicory,5539,Producer Price Index (2014-2016 = 100),7021,...,88.92,99.03,90.29,102.63,107.08,109.48,115.99,98.26,108.50,105.23
3805,11,'040,Austria,1,333,'01441,Linseed,5539,Producer Price Index (2014-2016 = 100),7021,...,148.76,110.36,93.58,102.29,104.13,99.85,94.66,98.14,102.31,106.45
3806,11,'040,Austria,1,210,'01709.02,Lupins,5539,Producer Price Index (2014-2016 = 100),7021,...,73.25,73.25,94.60,93.36,112.04,117.57,111.97,108.58,105.08,101.58
3822,11,'040,Austria,1,56,'0112,Maize (corn),5539,Producer Price Index (2014-2016 = 100),7021,...,173.11,118.28,86.95,114.36,98.69,109.66,109.66,100.26,102.61,102.92
3826,11,'040,Austria,1,867,'21111.01,"Meat of cattle with the bone, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,102.49,100.89,97.95,102.22,99.82,103.29,103.56,99.56,97.31,95.06
3842,11,'040,Austria,1,945,'21111.01b,"Meat of cattle with the bone, fresh or chilled...",5539,Producer Price Index (2014-2016 = 100),7021,...,102.46,100.79,97.89,102.13,99.98,103.46,103.70,99.70,98.89,98.08
3846,11,'040,Austria,1,1058,'21121,"Meat of chickens, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,99.69,107.67,107.21,96.90,95.89,95.43,125.28,122.21,121.23,120.22
3862,11,'040,Austria,1,1095,'21121b,"Meat of chickens, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,85.79,100.00,100.00,100.00,100.00,100.00,97.86,93.69,93.69,92.58
3866,11,'040,Austria,1,1069,'21122,"Meat of ducks, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,83.61,89.10,100.33,100.33,99.33,99.33,57.53,57.53,56.58,55.58
3870,11,'040,Austria,1,1071,'21122b,"Meat of ducks, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,83.61,89.10,100.33,100.33,99.33,99.33,57.53,57.90,57.90,57.90
3874,11,'040,Austria,1,1073,'21123,"Meat of geese, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,91.02,94.88,94.88,100.68,104.44,104.44,113.99,113.99,119.46,123.22
3878,11,'040,Austria,1,1078,'21123b,"Meat of geese, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,91.02,94.88,94.88,100.68,104.44,104.44,113.99,127.30,127.30,131.43
3879,11,'040,Austria,1,1017,'21116,"Meat of goat, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,94.37,96.41,98.00,99.85,102.15,102.15,101.45,97.78,94.11,90.44
3883,11,'040,Austria,1,1033,'21116b,"Meat of goat, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,94.37,96.41,98.00,99.85,102.15,102.15,101.45,97.78,94.11,90.44
3887,11,'040,Austria,1,1035,'21113.01,"Meat of pig with the bone, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,113.00,113.66,105.73,95.15,99.12,109.69,99.12,116.96,114.98,118.94
3903,11,'040,Austria,1,1056,'21113.01b,"Meat of pig with the bone, fresh or chilled (b...",5539,Producer Price Index (2014-2016 = 100),7021,...,114.02,113.62,105.68,95.12,99.21,109.77,99.21,117.05,113.12,117.56
3904,11,'040,Austria,1,1141,'21114,"Meat of rabbits and hares, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,105.92,107.05,101.76,98.73,99.52,106.43,101.59,98.40,102.67,103.46
3908,11,'040,Austria,1,1145,'21114b,"Meat of rabbits and hares, fresh or chilled (b...",5539,Producer Price Index (2014-2016 = 100),7021,...,105.92,107.05,101.76,98.73,99.52,106.43,101.59,98.40,102.67,103.46
3912,11,'040,Austria,1,977,'21115,"Meat of sheep, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,95.43,97.80,92.00,102.91,105.09,109.51,111.23,114.73,117.77,120.99
3928,11,'040,Austria,1,1013,'21115b,"Meat of sheep, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,93.22,95.58,97.95,99.84,102.21,102.21,102.21,102.21,103.63,102.68
3932,11,'040,Austria,1,1080,'21124,"Meat of turkeys, fresh or chilled",5539,Producer Price Index (2014-2016 = 100),7021,...,94.30,98.45,97.32,101.42,101.26,99.37,101.96,101.96,100.61,100.45
3948,11,'040,Austria,1,1088,'21124b,"Meat of turkeys, fresh or chilled (biological)",5539,Producer Price Index (2014-2016 = 100),7021,...,94.36,98.47,97.32,101.44,101.24,99.42,101.98,101.98,101.98,101.98
3949,11,'040,Austria,1,79,'0118,Millet,5539,Producer Price Index (2014-2016 = 100),7021,...,171.73,120.45,109.87,103.36,86.76,106.38,108.64,95.37,88.71,82.04
3950,11,'040,Austria,1,103,'01199.02,Mixed grain,5539,Producer Price Index (2014-2016 = 100),7021,...,171.73,120.45,109.87,103.36,86.76,106.38,108.64,105.42,102.86,100.31

In [79]:
# selecting rows based on condition
df_price_eu_ppi_wh = df_price_eu_ppi.loc[df_price['Item'] == "Wheat"]

df_price_eu_ppi_wh.head(50)

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
4317,11,'040,Austria,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,163.57,114.73,104.65,106.20,89.15,112.40,119.38,113.18,107.75,102.33
7214,255,'056,Belgium,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,148.00,131.71,109.25,102.34,88.41,93.70,110.42,103.35,115.65,119.20
11867,27,'100,Bulgaria,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,135.58,105.71,105.38,102.34,92.29,100.95,102.25,99.84,110.01,116.45
22389,98,'191,Croatia,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,127.50,102.58,110.09,105.96,83.95,94.75,99.02,101.58,96.01,90.51
22867,50,'196,Cyprus,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,93.15,89.49,94.62,90.95,114.43,79.95,95.46,84.13,90.26,94.19
23671,167,'203,Czechia,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,113.76,120.31,117.58,97.21,85.21,87.98,94.20,100.28,96.53,101.03
23960,54,'208,Denmark,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,134.52,133.38,108.17,100.23,91.60,97.09,109.57,116.98,108.17,119.08
27786,63,'233,Estonia,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,156.36,118.05,105.34,100.59,94.07,95.79,112.95,100.82,109.36,110.96
29703,67,'246,Finland,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,124.29,124.90,104.08,103.47,92.45,97.35,122.45,112.65,104.69,116.94
30375,68,'250,France,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,143.69,119.17,105.47,100.92,93.61,90.57,106.93,106.02,113.61,121.19
31908,79,'276,Germany,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,139.49,129.30,107.64,103.18,89.17,96.18,107.26,106.31,109.61,124.20
32807,84,'300,Greece,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,107.00,100.54,107.33,106.30,86.37,88.77,85.98,91.41,101.36,98.40
35816,97,'348,Hungary,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,132.32,104.57,105.96,106.54,87.50,95.58,107.24,111.09,120.01,127.92
37930,104,'372,Ireland,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,142.18,100.78,126.75,83.18,90.07,95.99,131.16,96.00,111.38,119.68
39646,106,'380,Italy,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,122.82,120.32,121.09,93.41,85.50,90.06,99.79,104.26,113.33,120.56
44923,119,'428,Latvia,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,145.21,125.72,106.16,101.37,92.47,101.37,117.81,111.64,116.68,136.99
46607,126,'440,Lithuania,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,137.07,115.84,101.60,104.75,93.64,100.04,110.89,105.33,109.08,116.43
46799,256,'442,Luxembourg,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,154.24,112.01,99.84,104.25,95.90,100.25,119.83,105.73,114.81,117.62
50252,134,'470,Malta,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,88.70,95.30,82.00,106.18,111.81,103.42,101.01,101.48,100.82,100.15
53682,150,'528,Netherlands,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,145.08,126.17,102.35,102.92,94.72,99.78,117.25,109.61,117.57,122.15
61580,173,'616,Poland,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,136.02,121.12,103.95,101.67,94.38,101.06,110.33,109.88,113.83,120.52
62559,174,'620,Portugal,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,123.53,111.54,101.83,104.74,93.43,96.44,98.30,109.26,106.25,108.48
65237,183,'642,Romania,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,128.17,119.72,107.04,104.23,88.73,91.55,95.77,102.82,111.27,119.72
71604,199,'703,Slovakia,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,141.90,120.49,107.26,105.52,87.21,99.84,107.60,109.30,105.19,101.09
72348,198,'705,Slovenia,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,124.53,115.24,107.66,107.15,85.19,98.05,101.49,103.90,94.35,85.96
74713,203,'724,Spain,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,127.81,110.02,108.11,104.35,87.54,95.43,94.91,98.52,99.97,101.46
76725,210,'752,Sweden,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,137.12,121.96,105.36,101.90,92.74,93.24,133.80,107.46,112.73,117.99

In [83]:
df_price_eu_ppi_wh.to_csv("DATAOUTPUTS/df_price_eu_ppi_wh.csv", index = False)

In [98]:
areaList = ["Ireland", "Croatia"]

# Then filter these MRNs like-

df_price_eu_ppi_wh_Ire_Cro = df_price_eu_ppi_wh[df_price_eu_ppi_wh['Area'].isin(areaList)]

df_price_eu_ppi_wh_Ire_Cro

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
22389,98,'191,Croatia,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,127.50,102.58,110.09,105.96,83.95,94.75,99.02,101.58,96.01,90.51
37930,104,'372,Ireland,1,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,142.18,100.78,126.75,83.18,90.07,95.99,131.16,96.00,111.38,119.68

In [116]:
# df = df_price_eu_ppi_wh_Ire_Cro.dropna()
# df.head()

In [136]:
# df.drop(index='cow', columns='small')
# (columns=['B', 'C']) 

df_correl = df_price_eu_ppi_wh_Ire_Cro.drop(columns = ["Area Code", "Area Code (M49)", "eu_member", "Item Code", "Item Code (CPC)", "Element Code", "Months Code", "Item", "Element", "Months", "Unit", "Y1991"])
df_correl.head()

,Area,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
22389,Croatia,4.61,54.92,85.17,78.68,101.16,100.43,95.22,85.99,81.33,...,127.50,102.58,110.09,105.96,83.95,94.75,99.02,101.58,96.01,90.51
37930,Ireland,89.20,89.20,75.29,94.11,76.93,63.83,65.47,69.56,66.29,...,142.18,100.78,126.75,83.18,90.07,95.99,131.16,96.00,111.38,119.68

In [186]:
# df.drop(index='cow', columns='small')
# (columns=['B', 'C']) 
df_price_eu_ppi_wh
df_price_eu_ppi_wh_sm = df_price_eu_ppi_wh.drop(columns = ["Area Code", "Area Code (M49)", "eu_member", "Item Code", "Item Code (CPC)", "Element Code", "Months Code", "Item", "Element", "Months", "Unit", "Y1991"])
df_price_eu_ppi_wh_sm.head()

,Area,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
4317,Austria,186.64,187.32,173.96,87.94,99.32,85.86,85.18,84.78,85.69,...,163.57,114.73,104.65,106.20,89.15,112.40,119.38,113.18,107.75,102.33
7214,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.31,...,148.00,131.71,109.25,102.34,88.41,93.70,110.42,103.35,115.65,119.20
11867,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,45.36,48.66,65.44,...,135.58,105.71,105.38,102.34,92.29,100.95,102.25,99.84,110.01,116.45
22389,Croatia,4.61,54.92,85.17,78.68,101.16,100.43,95.22,85.99,81.33,...,127.50,102.58,110.09,105.96,83.95,94.75,99.02,101.58,96.01,90.51
22867,Cyprus,81.50,81.50,85.26,88.40,89.02,89.02,88.40,91.53,91.53,...,93.15,89.49,94.62,90.95,114.43,79.95,95.46,84.13,90.26,94.19

In [157]:
df_price_eu_ppi_wh_sm = df_price_eu_ppi_wh.drop(columns = ["Area Code", "Area Code (M49)", "eu_member", "Item Code", "Item Code (CPC)", "Element Code", "Months Code", "Item", "Element", "Months", "Unit", "Y1991"])
df_price_eu_ppi_wh_sm.head()

,Area,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
4317,Austria,186.64,187.32,173.96,87.94,99.32,85.86,85.18,84.78,85.69,...,163.57,114.73,104.65,106.20,89.15,112.40,119.38,113.18,107.75,102.33
7214,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.31,...,148.00,131.71,109.25,102.34,88.41,93.70,110.42,103.35,115.65,119.20
11867,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,45.36,48.66,65.44,...,135.58,105.71,105.38,102.34,92.29,100.95,102.25,99.84,110.01,116.45
22389,Croatia,4.61,54.92,85.17,78.68,101.16,100.43,95.22,85.99,81.33,...,127.50,102.58,110.09,105.96,83.95,94.75,99.02,101.58,96.01,90.51
22867,Cyprus,81.50,81.50,85.26,88.40,89.02,89.02,88.40,91.53,91.53,...,93.15,89.49,94.62,90.95,114.43,79.95,95.46,84.13,90.26,94.19

In [158]:
df_price_eu_ppi_wh_sm.to_csv("df_price_eu_ppi_wh_sm.csv", index = False)

In [155]:
# df_price_eu_ppi_wh_Ire_Cro.to_csv("DATAOUTPUTS/df_price_eu_ppi_wh_Ire_Cro.csv")

In [159]:
df_correl.to_csv("DATAOUTPUTS/df_price_eu_ppi_wh_Ire_Cro_sm.csv", index = False)

In [137]:
df_correl(index == "Area")

NameError: name 'index' is not defined

In [194]:
# df_price_eu_ppi_wh_sm_trans = df_price_eu_ppi_wh_sm.reset_index().transpose()
# df_price_eu_ppi_wh_sm_trans.head()

In [195]:
# df_price_eu_ppi_wh_sm_melt = df_price_eu_ppi_wh_sm.reset_index().melt()
# df_price_eu_ppi_wh_sm_melt.head()

  variable  value
0    index   4317
1    index   7214
2    index  11867
3    index  22389
4    index  22867

In [193]:
# 
# Assign row as column headers

# ########################## Only do this once, your you'll keep losing rows. 
# df_price_eu_ppi_wh_sm_trans2 = df_price_eu_ppi_wh_sm_trans.columns = df_price_eu_ppi_wh_sm_trans.iloc[0]
# df_price_eu_ppi_wh_sm_trans2.head()

index
4317      4317
7214      7214
11867    11867
22389    22389
22867    22867
Name: index, dtype: object

In [160]:
# import matplotlib.pyplot as plt

# f = plt.figure(figsize=(19, 15))
# plt.matshow(df_correl.corr(), fignum=f.number)
# plt.xticks(range(df_correl.select_dtypes(['number']).shape[1]), df_correl.select_dtypes(['number']).columns, fontsize=14, rotation=45)
# plt.yticks(range(df_correl.select_dtypes(['number']).shape[1]), df_correl.select_dtypes(['number']).columns, fontsize=14)
# cb = plt.colorbar()
# cb.ax.tick_params(labelsize=14)
# plt.title('Correlation Matrix', fontsize=16);

In [143]:
df_correl_trans = df_correl.transpose()

In [144]:
df_correl_trans.head()

         22389    37930
Area   Croatia  Ireland
Y1992     4.61     89.2
Y1993    54.92     89.2
Y1994    85.17    75.29
Y1995    78.68    94.11

In [150]:
df_correl_trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, Area to Y2021
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   22389   31 non-null     object
 1   37930   31 non-null     object
dtypes: object(2)
memory usage: 1.8+ KB

In [196]:
# Assign row as column headers
# df_correl_trans.columns = df_correl_trans.iloc[0]

# # Using DataFrame.rename()
# df_correl_trans2 = df_correl_trans.rename(columns=df_correl_trans.iloc[1])

# # Convert row to header and remove the row
# df_correl_trans2 = df_correl_trans.rename(columns=df_correl_trans.iloc[0]).loc[1:]

# # Using DataFrame.rename() to convert row to column header
# df_correl_trans.rename(columns=df_correl_trans.iloc[1], inplace = True)

# # Using DataFrame.values[]
# header_row = df_correl_trans.iloc[0]
# df_correl_trans2 = pd.DataFrame(df_correl_trans.values[1:], columns=header_row)

# CLEAN START

In [215]:
# ALL GDP DF COPIED
df_all_gdp = df_gdp

In [217]:
# IMPORT LOOKUP TABLES
df_country_lookup = pd.read_csv("DATA/Country_lookups.csv")
df_country_lookup

                   Lookup Area  Lookup M49 Lookup iso
0                  Afghanistan           4        AFG
1                Åland Islands         248        ALA
2                      Albania           8        ALB
3                      Algeria          12        DZA
4               American Samoa          16        ASM
..                         ...         ...        ...
244  Wallis and Futuna Islands         876        WLF
245             Western Sahara         732        ESH
246                      Yemen         887        YEM
247                     Zambia         894        ZMB
248                   Zimbabwe         716        ZWE

[249 rows x 3 columns]

In [220]:
df_all_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    704 non-null    object
 1   INDICATOR   704 non-null    object
 2   SUBJECT     704 non-null    object
 3   MEASURE     704 non-null    object
 4   FREQUENCY   704 non-null    object
 5   TIME        704 non-null    int64
 6   GDP         704 non-null    float64
 7   Flag Codes  47 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 44.1+ KB

In [219]:
df_all_gdp_isolookup = pd.merge(left=df_all_gdp, right=df_country_lookup, how='left', left_on='LOCATION', right_on='Lookup iso')
df_all_gdp_isolookup

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,GDP,Flag Codes,Lookup Area,Lookup M49,Lookup iso
0,AUT,GDP,TOT,USD_CAP,A,2000,29380.031110,NaN,Austria,40.0,AUT
1,AUT,GDP,TOT,USD_CAP,A,2001,29707.462264,NaN,Austria,40.0,AUT
2,AUT,GDP,TOT,USD_CAP,A,2002,31178.051444,NaN,Austria,40.0,AUT
3,AUT,GDP,TOT,USD_CAP,A,2003,32158.225907,NaN,Austria,40.0,AUT
4,AUT,GDP,TOT,USD_CAP,A,2004,33784.432645,NaN,Austria,40.0,AUT
...,...,...,...,...,...,...,...,...,...,...,...
699,ROU,GDP,TOT,USD_CAP,A,2017,27135.977062,NaN,Romania,642.0,ROU
700,ROU,GDP,TOT,USD_CAP,A,2018,29337.903177,NaN,Romania,642.0,ROU
701,ROU,GDP,TOT,USD_CAP,A,2019,32909.566163,NaN,Romania,642.0,ROU
702,ROU,GDP,TOT,USD_CAP,A,2020,33080.128126,P,Romania,642.0,ROU
703,ROU,GDP,TOT,USD_CAP,A,2021,35946.765464,P,Romania,642.0,ROU

In [242]:
df_all_gdp_isolookup.rename(columns = {'Value': 'GDP'}, inplace = True)
df_all_gdp_isolookup.head(5)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,GDP,Flag Codes,Lookup Area,Lookup M49,Lookup iso
0,AUT,GDP,TOT,USD_CAP,A,2000,29380.031110,NaN,Austria,40.0,AUT
1,AUT,GDP,TOT,USD_CAP,A,2001,29707.462264,NaN,Austria,40.0,AUT
2,AUT,GDP,TOT,USD_CAP,A,2002,31178.051444,NaN,Austria,40.0,AUT
3,AUT,GDP,TOT,USD_CAP,A,2003,32158.225907,NaN,Austria,40.0,AUT
4,AUT,GDP,TOT,USD_CAP,A,2004,33784.432645,NaN,Austria,40.0,AUT

In [240]:
df_all_gdp_isolookup['TIME'].unique()
# print(df['Courses'].unique())

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
      dtype=int64)

In [270]:
df_all_gdp_isolookup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 704 entries, 0 to 703
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     704 non-null    object
 1   INDICATOR    704 non-null    object
 2   SUBJECT      704 non-null    object
 3   MEASURE      704 non-null    object
 4   FREQUENCY    704 non-null    object
 5   TIME         704 non-null    int64
 6   GDP          704 non-null    float64
 7   Flag Codes   47 non-null     object
 8   Lookup Area  682 non-null    object
 9   Lookup M49   682 non-null    float64
 10  Lookup iso   682 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 66.0+ KB

In [250]:
wheat_mask = (df_price.Item == "Wheat") & (df_price.Element == "Producer Price Index (2014-2016 = 100)")
df_price_wheat_ppi = df_price[wheat_mask]

In [285]:
df_price_wheat_ppi.head(2)
# df_price_wheat_ppi.melt()
# df_price_wheat_ppi.transpose()

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
94,2,'004,Afghanistan,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,26.70,35.74,72.39,111.10,116.51,112.41,111.54,96.20,86.08,62.99
1042,3,'008,Albania,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,...,103.67,114.30,101.01,101.01,97.97,87.65,84.39,83.74,85.10,86.46

In [252]:
df_price_wheat_ppi.columns

Index(['Area Code', 'Area Code (M49)', 'Area', 'eu_member', 'Item Code',
       'Item Code (CPC)', 'Item', 'Element Code', 'Element', 'Months Code',
       'Months', 'Unit', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996',
       'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004',
       'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012',
       'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
       'Y2021'],
      dtype='object')

In [255]:
# df_price_wheat_ppi.info()

In [256]:
df_price_wheat_ppi_melted = df_price_wheat_ppi.melt(id_vars=['Area Code', 'Area Code (M49)', 'Area', 'eu_member', 'Item Code',
       'Item Code (CPC)', 'Item', 'Element Code', 'Element', 'Months Code',
       'Months', 'Unit'], value_vars=['Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996',
       'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004',
       'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012',
       'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
       'Y2021'], var_name="YEAR", value_name="wheat_PPI")

In [257]:
df_price_wheat_ppi_melted.columns

Index(['Area Code', 'Area Code (M49)', 'Area', 'eu_member', 'Item Code',
       'Item Code (CPC)', 'Item', 'Element Code', 'Element', 'Months Code',
       'Months', 'Unit', 'YEAR', 'wheat_PPI'],
      dtype='object')

In [258]:
df_price_wheat_ppi_melted.head()

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,Months,Unit,YEAR,wheat_PPI
0,2,'004,Afghanistan,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,17.96
1,3,'008,Albania,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,NaN
2,4,'012,Algeria,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,12.00
3,9,'032,Argentina,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,4.07
4,1,'051,Armenia,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,NaN

In [269]:
# SPOT CHECK DATA
wheat_ppi_spot_check_mask = (df_price_wheat_ppi.Area == "Armenia")
df_spot_check = df_price_wheat_ppi[wheat_ppi_spot_check_mask]
df_spot_check[['Area', 'Y1991']]

         Area  Y1991
3150  Armenia    NaN

In [268]:
# df_price_wheat_ppi_melted.to_csv("DATAOUTPUTS/df_price_wheat_ppi_melted.csv", index = False)

In [271]:
# MAKE NEW COLUMN YEAR_INT, WITH int64 BY CHANGING YEAR
df_price_wheat_ppi_melted['YEAR_INT'] = df_price_wheat_ppi_melted['YEAR'].str.slice(1,)

In [278]:
df_price_wheat_ppi_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3317 entries, 0 to 3316
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code        3317 non-null   int64
 1   Area Code (M49)  3317 non-null   object
 2   Area             3317 non-null   object
 3   eu_member        3317 non-null   int64
 4   Item Code        3317 non-null   int64
 5   Item Code (CPC)  3317 non-null   object
 6   Item             3317 non-null   object
 7   Element Code     3317 non-null   int64
 8   Element          3317 non-null   object
 9   Months Code      3317 non-null   int64
 10  Months           3317 non-null   object
 11  Unit             0 non-null      object
 12  YEAR             3317 non-null   object
 13  wheat_PPI        3091 non-null   float64
 14  YEAR_INT         3317 non-null   object
dtypes: float64(1), int64(5), object(9)
memory usage: 388.8+ KB

In [279]:
df_price_wheat_ppi_melted['YEAR_INT'] = df_price_wheat_ppi_melted['YEAR_INT'].astype(str).astype(int)

In [281]:
df_price_wheat_ppi_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3317 entries, 0 to 3316
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code        3317 non-null   int64
 1   Area Code (M49)  3317 non-null   object
 2   Area             3317 non-null   object
 3   eu_member        3317 non-null   int64
 4   Item Code        3317 non-null   int64
 5   Item Code (CPC)  3317 non-null   object
 6   Item             3317 non-null   object
 7   Element Code     3317 non-null   int64
 8   Element          3317 non-null   object
 9   Months Code      3317 non-null   int64
 10  Months           3317 non-null   object
 11  Unit             0 non-null      object
 12  YEAR             3317 non-null   object
 13  wheat_PPI        3091 non-null   float64
 14  YEAR_INT         3317 non-null   int32
dtypes: float64(1), int32(1), int64(5), object(8)
memory usage: 375.9+ KB

In [282]:
# MERGE

In [283]:
df_all_gdp_isolookup.head(5)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,GDP,Flag Codes,Lookup Area,Lookup M49,Lookup iso
0,AUT,GDP,TOT,USD_CAP,A,2000,29380.031110,NaN,Austria,40.0,AUT
1,AUT,GDP,TOT,USD_CAP,A,2001,29707.462264,NaN,Austria,40.0,AUT
2,AUT,GDP,TOT,USD_CAP,A,2002,31178.051444,NaN,Austria,40.0,AUT
3,AUT,GDP,TOT,USD_CAP,A,2003,32158.225907,NaN,Austria,40.0,AUT
4,AUT,GDP,TOT,USD_CAP,A,2004,33784.432645,NaN,Austria,40.0,AUT

In [284]:
df_price_wheat_ppi_melted.head(5)

,Area Code,Area Code (M49),Area,eu_member,Item Code,Item Code (CPC),Item,Element Code,Element,Months Code,Months,Unit,YEAR,wheat_PPI,YEAR_INT
0,2,'004,Afghanistan,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,17.96,1991
1,3,'008,Albania,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,NaN,1991
2,4,'012,Algeria,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,12.00,1991
3,9,'032,Argentina,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,4.07,1991
4,1,'051,Armenia,0,15,'0111,Wheat,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,Y1991,NaN,1991

In [287]:
### BROKEN - DONT WANT A LEFT JOIN
# df_all_gdp_ppi = pd.merge(left=df_all_gdp_isolookup, right=df_price_wheat_ppi_melted, how='left', left_on='Lookup Area', right_on='Area')
# df_all_gdp_ppi

In [290]:
df_all_gdp_ppi =  df_all_gdp_isolookup.merge(df_price_wheat_ppi_melted, how='inner', left_on=['Lookup Area', 'TIME'], right_on=['Area', 'YEAR_INT'])
df_spot_check_all = df_all_gdp_ppi[['LOCATION', 'Area', 'eu_member', 'GDP', 'wheat_PPI', 'TIME', 'YEAR', 'YEAR_INT' ]]

In [313]:
df_spot_check_all

,LOCATION,Area,eu_member,GDP,wheat_PPI,TIME,YEAR,YEAR_INT
0,AUT,Austria,1,29380.031110,85.69,2000,Y2000,2000
1,AUT,Austria,1,29707.462264,82.98,2001,Y2001,2001
2,AUT,Austria,1,31178.051444,75.97,2002,Y2002,2002
3,AUT,Austria,1,32158.225907,83.72,2003,Y2003,2003
4,AUT,Austria,1,33784.432645,68.22,2004,Y2004,2004
...,...,...,...,...,...,...,...,...
677,ROU,Romania,1,27135.977062,91.55,2017,Y2017,2017
678,ROU,Romania,1,29337.903177,95.77,2018,Y2018,2018
679,ROU,Romania,1,32909.566163,102.82,2019,Y2019,2019
680,ROU,Romania,1,33080.128126,111.27,2020,Y2020,2020
681,ROU,Romania,1,35946.765464,119.72,2021,Y2021,2021

In [318]:
print(df_price_wheat_ppi.columns)

Index(['Area Code', 'Area Code (M49)', 'Area', 'eu_member', 'Item Code',
       'Item Code (CPC)', 'Item', 'Element Code', 'Element', 'Months Code',
       'Months', 'Unit', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996',
       'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004',
       'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012',
       'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
       'Y2021'],
      dtype='object')

In [320]:
wheat_ppi_spot_check_mask = (df_price_wheat_ppi.Area == "Armenia")
df_spot_check = df_price_wheat_ppi[wheat_ppi_spot_check_mask]
df_spot_check[['Area', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996',
       'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004',
       'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012',
       'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
       'Y2021']]

,Area,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
3150,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,89.4,83.91,76.79,...,127.88,130.99,114.94,95.3,89.77,91.97,91.63,101.5,104.97,106.61

In [322]:
all_spot_check_mask = (df_spot_check_all.Area == "Armenia")
all_spot_check_df = df_spot_check_all[all_spot_check_mask]
print(all_spot_check_df[['Area', 'TIME', 'wheat_PPI' ]])

Empty DataFrame
Columns: [Area, TIME, wheat_PPI]
Index: []

In [312]:
print(df_spot_check_all['eu_member'].unique())

[1 0]

In [326]:
print(df_all_gdp_ppi["Lookup Area"].unique())

['Austria' 'Belgium' 'Canada' 'Czechia' 'Denmark' 'Finland' 'France'
 'Germany' 'Greece' 'Hungary' 'Ireland' 'Italy' 'Japan' 'Luxembourg'
 'Netherlands' 'Poland' 'Portugal' 'Slovakia' 'Spain' 'Sweden'
 'United Kingdom of Great Britain and Northern Ireland'
 'United States of America' 'Estonia' 'Slovenia' 'Latvia' 'Lithuania'
 'Bulgaria' 'Croatia' 'Cyprus' 'Malta' 'Romania']

In [327]:
# df_all_gdp_ppi

In [329]:
# FINAL DF
df_all_gdp_ppi.to_csv("DATAOUTPUTS/df_all_gdp_ppi.csv", index=False)

In [330]:
df_all_gdp_ppi[['LOCATION', 'Area', 'eu_member', 'GDP', 'wheat_PPI', 'TIME', 'YEAR', 'YEAR_INT' ]]

,LOCATION,Area,eu_member,GDP,wheat_PPI,TIME,YEAR,YEAR_INT
0,AUT,Austria,1,29380.031110,85.69,2000,Y2000,2000
1,AUT,Austria,1,29707.462264,82.98,2001,Y2001,2001
2,AUT,Austria,1,31178.051444,75.97,2002,Y2002,2002
3,AUT,Austria,1,32158.225907,83.72,2003,Y2003,2003
4,AUT,Austria,1,33784.432645,68.22,2004,Y2004,2004
...,...,...,...,...,...,...,...,...
677,ROU,Romania,1,27135.977062,91.55,2017,Y2017,2017
678,ROU,Romania,1,29337.903177,95.77,2018,Y2018,2018
679,ROU,Romania,1,32909.566163,102.82,2019,Y2019,2019
680,ROU,Romania,1,33080.128126,111.27,2020,Y2020,2020
681,ROU,Romania,1,35946.765464,119.72,2021,Y2021,2021